{#{% extends "blog/base.html" %}#}

{% extends 'blog/base.html' %}
{#{% load staticfiles %}#}
{#{% load tagging_tags %}#}
{% load blog_tags %}

{% load tagging_tags %}

{% block title %}Dashboard{% endblock %}


{% block content %}

<div class="row">
<h1>Dashboard</h1>
<p>Welcome to {{ request.user }}'s dashboard.</p>
</div>

<div class="row">

    <h2> Posts </h2>
    {% if posts %}
    <table class="table table-hover table-bordered">
    <thead>
    <tr>
      {% if user.is_superuser %}
          <th>Author</th>
          {% endif %}
    <th>Title</th>
    <th>Status</th>
    <th>Creation</th>
      <th>Last Updated</th>
  </tr>
    </thead>
<tbody>

{% for post in posts %}


        <tr>
        {% if user.is_superuser %}
            <td>{{ post.author }}</td>
        {% endif %}
            <td><a
                    href="{{ post.get_absolute_url }}" title=""
            >{{ post.title }}</a></td>
            <td>{{ post.status }}</td>
            <td>{{ post.created }}</td>
            <td>{{ post.updated }}</td>
            {% if user.is_superuser %}
                <td><a href="{% url 'blog:post_delete' pk=post.pk %}">
                    <i class="fa fa-trash-o"></i></a></td>
            {% endif %}
        </tr>

    {% endfor %}

</tbody>
    </table>
        {% else %}
            <p>No posts</p>
        {% endif %}
</div>



    <div class="row">
            <p>
            {% if posts.has_previous %}
            <a rel="prev" href="?page={{ posts.previous_page_number }}">Prev</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

            {% if posts.has_next %}
            <a rel="next" href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}

            </p>
        </div>


 <!-- end sidebar -->

   	 <!-- end row -->



{% endblock %}