{#{% extends "blog/base.html" %}#}

{% extends 'blog/baseD.html' %}
{#{% load staticfiles %}#}
{#{% load tagging_tags %}#}

{% block title %}Dashboard{% endblock %}


{% block content %}

<h1>Dashboard</h1>
<p>Welcome to your dashboard.</p>

   {% if posts %}
    <table style="width:100%;border-collapse: collapse;border-spacing: 15px;border: 1px solid black">
  <tr>
    <th style="border-collapse: collapse;border: 1px solid black;text-align: left;padding: 5px;">Title</th>
    <th style="border-collapse: collapse;border: 1px solid black;text-align: left;padding: 5px;">Status</th>
    <th style="border-collapse: collapse;border: 1px solid black;text-align: left;padding: 5px;">Creation</th>
      <th style="border-collapse: collapse;border: 1px solid black;text-align: left;padding: 5px;">Last Updated</th>
  </tr>
    {% for post in posts %}


  <tr>
    <td style="border-collapse: collapse;border: 1px solid black;padding: 5px;"><a href="{% url 'blog:post_detail2' pk=post.pk %}"
                                                                                   title="">
        {{ post.title }}</a></td>
    <td style="border-collapse: collapse;border: 1px solid black;padding: 5px;">{{ post.status }}</td>
    <td style="border-collapse: collapse;border: 1px solid black;padding: 5px;">{{ post.created }}</td>
  <td style="border-collapse: collapse;border: 1px solid black;padding: 5px;">{{ post.updated }}</td>
  </tr>

    {% endfor %}

    <div class="pagenav">
            <p>
            {% if posts.has_previous %}
            <a rel="prev" href="?page={{ posts.previous_page_number }}">Prev</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

            {% if posts.has_next %}
            <a rel="next" href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}

            </p>
        </div>
</table>
    {% else %}
            <p>No posts</p>
        {% endif %}
</div> <!-- end sidebar -->

   	</div> <!-- end row -->

   </div>


{% endblock %}