{% extends 'blog/base.html' %}
{% load tagging_tags %}

{% load blog_tags %}

{% block title %}Concitus Blog{% endblock %}

{% block extra_css %}

<style>
        #article {
            margin-top: 20px;
            background-color: lightyellow;
        }

        .title-heading {
            padding-left: 20px;
            padding-top: 10px;
        }

        .post-body {
            padding-left: 20px;
            padding-bottom: 10px;
        }

        #article-pagination {
            padding-top: 15px;
        }

        .sidebar {
            padding-top: 30px;
        }

        .tags {
            background-color: lightgoldenrodyellow;
            padding-left: 20px;
        }

        .tag-list {
            display: inline-block;
        }

        .sideline-post {
            background-color: lightgoldenrodyellow;
            padding-left: 20px;
        }

    </style>

{% endblock extra_css %}


{% block content %}

    <div class="col-md-11">

    <div id="articles" class="row">

        <a href="{% url 'blog:post_list' %}"><button type="button" class="btn btn-primary">All post</button></a>
        <span><a href="{% url 'blog:writersearch' writer %}"><button type="button" class="btn btn-primary">{{ writer }}</button></a></span>

        <h2 class="my-4">Posts written by {{ writer }}</h2>

    {% if posts %}
        {% for post in posts %}

        <div id="article" class="col-md-12">

{#            <div class="row">#}
{#                <div class="col-md-4">#}
{#                    {% if post.home_image %}#}
{#                    <img class="card-img-top img-responsive" src="{{ post.home_image }}" alt="Card image cap" style="height: 170px;width: 135px">#}
{#                {% else %}#}
{#                    <img class="card-img-top img-responsive" src="http://placehold.it/750x300" alt="Card image cap" style="height: 170px;width: 135px">#}
{#                {% endif %}#}
{#                </div>#}
{##}
{#                <div class="col-md-10">#}
                    <div class="row title-heading">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <a href="#">{{ post.author }}</a>
                        </span>
                        <span>
                            <span class="glyphicon glyphicon-time"></span>
                            {{ post.publish_time }}
                        </span>

                    </div>


                    <div class="row post-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt_text|smart_excerpt:250 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
{#                </div>#}
{##}
{#            </div>#}

        </div>
{#            <hr style="width: 100%; color: black; height: 1px; background-color:black;">#}


        {% endfor %}
    {% else %}
        <h3>No Published Articles Found</h3>
    {% endif %}

    </div>


    <div id="article-pagination" class="row">
        {% if posts.paginator.num_pages %}

            <nav aria-label="">
                <ul class="pagination">

                    {% if posts.has_previous %}
                        <li>
                            <a href="{% url 'blog:writersearch' writer  posts.previous_page_number %}"
                               aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
                                aria-hidden="true">«</span></a></li>
                    {% endif %}

                    {% for i in posts.paginator.num_pages|times %}
                        {% if i == posts.number %}
                            <li class="active"><a href="javascript:void(0)">{{ i }}<span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{% url 'blog:writersearch' writer i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                        <li>
                            <a href="{% url 'blog:writersearch' writer  posts.next_page_number %}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
                                aria-hidden="true">»</span></a></li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}
    </div>


    </div>



{% endblock %}



{% block sidebar %}


    <div class="col-md-8 sidebar">
        <div class="row tags">
            <div class="card my-8">
                <h2 class="card-header">Tags</h2>

                <ul class="list-unstyled mb-0">
                    {% for tag in all %}
                        <li>
                            <a href="{% url 'blog:tagSearch' pk=tag.name %}" class="tag-list">
                                <h5>{{ tag.name }}</h5></a>
                            ({{ tag.count }})
                        </li>
                    {% endfor %}

                </ul>

            </div>
        </div>


        <hr>

        <div class="row sideline-post">
            <div class="card my-8">
                <h2 class="card-header">Recent Posts</h2>
                {% show_latest_posts 3 %}
            </div>
        </div>

        <hr>
        <div class="row sideline-post">
            <div class="card my-8">
                <h2 class="card-header">Popular Posts</h2>


                {% show_popular_posts 3 %}


            </div>
        </div>
    </div>


{% endblock %}
